@import "~bootstrap/scss/bootstrap";

$myTextColor: red;

.my-lead-text {
  color: $myTextColor;
}

.my-image {
  background-color: transparent;
  background-image: url(../images/tech.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  display: inline-block;
  height: 480px;
  width: 640px;
}

.normally-transparent {
  color: transparent;
}

.normally-transparent::selection,
.normally-transparent > ::selection {
  color: transparent;
}

.normally-transparent span.text-success::selection {
  color: white;
}
